@mixin hover-underline(
  $from-color: var(--smoothGold),
  $to-color: var(--richGold),
  $line-height: 2px
) {
  padding: 0.1rem 0;
  position: relative;
  transition: color 0.5s ease;

  &::after {
    content: "";
    background: linear-gradient(90deg, $from-color, $to-color);
    width: 0;
    height: $line-height;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s ease;
  }

  &:hover::after {
    width: 100%;
  }
}
